body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f9f9f9;
    color: #333;
}

.header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

.logo {
    font-size: 4em;
    color: #ebef72;
}

.main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.destacados {
    text-align: center;
}

.producto {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fafafa;
    transition: transform 0.3s ease-in-out;
}

.producto:hover {
    transform: scale(1.05);
}

.producto img {
    max-width: 100%;
    border-radius: 5px;
}

.producto .nombre-artista {
    font-size: 1.2em;
    margin-top: 10px;
    color: #333;
    transition: color 0.3s ease-in-out;
}

.producto:hover .nombre-artista {
    color: #f39c12; 
}

.producto .precio-artista {
    font-size: 1.2em;
    margin-top: 10px;
    color: #333;
    transition: color 0.3s ease-in-out;
}

.producto:hover .precio-artista {
    color: #257539; 
}










